LEGAL_ENTITY_NAME=
LEGAL_ENTITY_FORM=
LEGAL_ENTITY_CAPITAL=
LEGAL_ENTITY_ADDRESS=
LEGAL_ENTITY_REGISTRATION_NUMBER=
LEGAL_ENTITY_VAT_NUMBER=
LEGAL_CONTACT_EMAIL=
PRIVACY_CONTACT_EMAIL=
DSA_CONTACT_EMAIL=
MODERATION_CONTACT_EMAIL=
CONSUMER_MEDIATOR_NAME=
CONSUMER_MEDIATOR_ADDRESS=
CONSUMER_MEDIATOR_URL=
PAYMENT_PROVIDER_NAME=
PAYMENT_DESCRIPTOR=
HOSTING_PROVIDER_NAME=
HOSTING_PROVIDER_ADDRESS=
AGE_ASSURANCE_PROVIDER=
LEGAL_DOCUMENTS_EFFECTIVE_DATE=
LEGAL_AUDIT_HMAC_SECRET=
RETENTION_INACTIVE_ACCOUNTS=
RETENTION_DELETED_ACCOUNT_GRACE=
RETENTION_MODERATION_EVIDENCE=
RETENTION_SECURITY_LOGS=
RETENTION_LEGAL_ACCEPTANCES=
RETENTION_BILLING_RECORDS=
RETENTION_MESSAGES_AFTER_CLOSURE=
COMPLIANCE_FEATURES_ENABLED=false
COMPLIANCE_LEGAL_CENTER_ENABLED=false
COMPLIANCE_VERSIONED_ACCEPTANCE_ENABLED=false
COMPLIANCE_SENSITIVE_CONSENT_ENABLED=false
COMPLIANCE_NEW_REPORTING_ENABLED=false
COMPLIANCE_MODERATION_APPEALS_ENABLED=false
COMPLIANCE_COUPLE_ACCOUNTS_ENABLED=false
COMPLIANCE_OPEN_CURTAIN_CONSENT_ENABLED=false
COMPLIANCE_PAYMENT_HARDENING_ENABLED=false
COMPLIANCE_CONTACT_SAFETY_ENABLED=false
COMPLIANCE_SCOPED_CONVERSATION_ACCESS_ENABLED=false
ALLOW_PUBLIC_EXPLICIT_CONTENT=false
ALLOW_PRIVATE_EXPLICIT_MEDIA=false
REQUIRE_STRONG_AGE_ASSURANCE_FOR_EXPLICIT_MEDIA=true
